*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    height: 100vh;
    width: 100vw;
    display: flex;
}
.A{
    border: 2px solid green;
    border-radius: 10px;
    width: 500px;
    height: 30vh;
    background-color: aqua;
    box-shadow: 5px 5px 10px grey;
    padding: 1.5%;
    transition: color 0.3s linear;
}
.A:hover{
    color: darkgoldenrod;
}
.B{
    height: 30vh;
    width: 500px;
    background-color: firebrick;
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid black;
    gap: 1rem;
    align-items: flex-start;
    transition: color 0.3 ease;
}
.B:hover{
    color: rgb(90, 209, 54);
}
.D{
    height: 30vh;
    width: 500px;
    background-color: darkorange;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.accion{
    height: 5vh;
    width: 10vw;
    background-color: rgb(170, 197, 15);
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}
.accion:active{
    transform: translateY(3px);
    background-color: rgb(255, 0, 128);
}
.E{
    height: 30vh;
    width: 500px;
    background-color: cornflowerblue;
    justify-content: center;
    align-items: center;
    display: flex;
    border: none;
    border-radius: 10px;
    transition: transform 0.5s ease;
}
.E:hover{
    transform: scale(1.15);
}